.switch-pages-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(100% - 3rem);
    height: 50px;
    padding: 0;
    margin: 0;
    justify-content: start;
    gap: 2px;
}

.switch-pages-item {
    cursor: pointer;
    color: #1a1f36;
    height: 100%;
    background-color: rgb(249, 249, 249);
    border: none;
    outline: none;
    border-radius: 0;
}

.switch-pages-item.active {
    border: none;
    outline: none;
    color: #6772e5;
    background-color: white;
    box-shadow: 0 -2px 3px 0 rgb(0 0 0 / 0.02), 2px 0 2px -1px rgb(0 0 0 / 0.02), -2px 0 2px -1px rgb(0 0 0 / 0.02);
    transition: box-shadow 0.2s ease;
}

.switch-pages-item:focus {
    border: none;
    outline: none;
}

